.h2{
	background-color: #EEEEEE;
}
.message{
	background-color: #80ff00;
	text-align: center;
	background-color: green;
    width: 100%;  /* ���̕���50%�ɕύX */
    height: 20px;  /* ���̍����͂��̂܂� */
    margin: 0 auto;  /* ���𒆉��ɔz�u */
}
.content {
    flex: 1;
    padding: 10px;
}
.container {
            display: flex;
