.Sentence{
	color: #56b6f5;
}
.h2{
	background-color: #EEEEEE;
	 height: 30px;
}
.content {
    flex: 1;
    padding: 10px;
}
.container {
            display: flex;
}
.message{
	color:#80ffff;
}